images
colmap
*.h5
*.db
*.log
*.nvm
*.bin
*.avi
*.mp4
*.mov
*.mkv
*.zip
*.tar.gz
*.pth
*.ckpt
*.env
*.venv
.venv/
env/
venv/
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
*.egg-info/
dist/
build/
.eggs/
*.egg
*.coverage
.coverage.*